h2 {background-color: aquamarine;font-family: fantasy;}
body {background-color: rgb(235, 176, 176);}
h1 {background-color: cadetblue;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}